.font-icons *[class^="icon-"],
.font-icons *[class*=" icon-"],
.font-icons *[class^="fa-"],
.font-icons *[class*=" fa-"] {
  font-size: 30px;
}
dt {
  margin-top: 10px;
}
dt:first-child {
  margin-top: 0;
}
dd {
  margin-top: 5px;
}
.colors .list-unstyled {
  width: 100%;
  margin: 0;
}
.colors .list-unstyled > li {
  margin: 0 0 10px 0;
  padding: 0;
}
.color .swatch {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
}
.color .swatch.gray-darker {
  background-color: #232323;
}
.color .swatch.gray-dark {
  background-color: #333;
}
.color .swatch.gray-dark-alt {
  background-color: #3d3d3d;
}
.color .swatch.gray {
  background-color: #545454;
}
.color .swatch.gray-light {
  background-color: #6c6c6c;
}
.color .swatch.gray-lighter {
  background-color: #eee;
}
.color .swatch.gray-lighter-alt {
  background-color: #e0e0e0;
}
.color .swatch.gray-lightest {
  background-color: #f9f9f9;
}
.color .swatch.brand-primary {
  background-color: #0079bc;
}
.color .swatch.brand-danger {
  background-color: #d23432;
}
.color .swatch.brand-segment-one {
  background-color: #007088;
}
.color .swatch.brand-segment-one-dark {
  background-color: #005568;
}
.color .swatch.brand-segment-one-light {
  background-color: #008baa;
}
.color .swatch.brand-segment-two {
  background-color: #01466a;
}
.color .swatch.brand-segment-two-dark {
  background-color: #013550;
}
.color .swatch.brand-segment-two-light {
  background-color: #005b8b;
}
.color .swatch.brand-segment-three {
  background-color: #4e144f;
}
.color .swatch.brand-segment-three-dark {
  background-color: #3c0d3d;
}
.color .swatch.brand-segment-three-light {
  background-color: #652666;
}
.color .swatch.brand-segment-four {
  background-color: #620d39;
}
.color .swatch.brand-segment-four-dark {
  background-color: #490629;
}
.color .swatch.brand-segment-four-light {
  background-color: #861a52;
}
.color .swatch.brand-glossary {
  background-color: #476600;
}
.color .swatch.brand-glossary-dark {
  background-color: #395100;
}
.color .swatch.brand-glossary-light {
  background-color: #6e8f00;
}
.color .swatch.brand-about {
  background-color: #55432A;
}
.color .swatch.brand-about-dark {
  background-color: #403018;
}
.color .swatch.brand-about-light {
  background-color: #6D5E47;
}
.color .swatch.brand-heading-things-to-one {
  background-color: #0279bc;
}
.color .swatch.brand-heading-things-to-two {
  background-color: #4e7e1c;
}
.color .swatch.brand-heading-purple {
  background-color: #5d2572;
}
.color .swatch.brand-heading-orange {
  background-color: #ed5017;
}
.color .swatch.brand-heading-red {
  background-color: #d13827;
}
.color .swatch.brand-heading-green {
  background-color: #4d7e1c;
}
.color .swatch.brand-heading-bluegray {
  background-color: #295f69;
}
.color .swatch.brand-heading-torquise {
  background-color: #0087a6;
}
.color .swatch.brand-heading-darkblue {
  background-color: #005b8e;
}
.form-group {
  max-width: 340px;
}
.form-group > label {
  width: 100%;
}
.form-group > .radio-wrap {
  display: flex;
  font-size: 16px;
  margin-bottom: 8px;
}
.form-group > .radio-wrap .jcf-radio {
  margin-top: 3px;
  margin-right: 6px;
}
.form-group > .radio-wrap label {
  margin: 0;
}
.tabs .well {
  background-color: #fff;
}
.tabs .well .tabs-container {
  max-width: 400px;
}
.progress {
  margin-top: 20px;
}
.secondry-alternate {
  color: #fff;
  padding: 20px;
  background: #0079bc;
}
.code-container {
  margin-bottom: 15px;
}
.code-container .code-label {
  display: block;
  font-weight: bold;
}
.code-container code {
  padding: 7px 10px;
}
