<!doctype html>
<html class="no-js" lang="">
<% include ../includes/mag/head.html.ejs %>
<body>

<div id="page">
	<% include ../includes/mag/skipContent.html.ejs %>

	<% include ../includes/browseHappy.html.ejs %>

	<% include ../includes/mag/header.html.ejs %>

	<!-- Main Content -->
	<main id="global-content">
		<% include ../includes/mag/magMainHeading.html.ejs %>

		<div tabindex="-1" id="skip-to-content"></div>

		<div class="container-fluid mag-feat-1 article-feat-1">
			<div class="row">
				<div class="col-xs-12 col-md-6 img-block">
					<img src="http://fpoimg.com/480x320?bg_color=4e4e4e&text_color=ffffff&text=FPO" alt="" />
				</div>
				
			</div>
		</div>
		
	</main>
	<% include ../includes/mag/footer.html.ejs %>
</div>

<% include ../includes/mag/foot.html.ejs %>

</body>
</html>
