<!doctype html>
<html class="no-js" lang="">
<% include ../includes/mag/head.html.ejs %>
<body>

<div id="page">

	<% include ../includes/mag/skipContent.html.ejs %>

	<% include ../includes/browseHappy.html.ejs %>

	<% include ../includes/mag/header.html.ejs %>

	<main id="global-content">

		<div class="mag-main-heading tags-heading">
			<header>
				<h1>Tags</h1>
			</header>
		</div>

		<div tabindex="-1" id="skip-to-content"></div>
		
		<div class="container-fluid tags-content">
			<ul class="list-unstyled tags-list">
					<li><a href="#">lorem ipsum</a></li>
					<li><a href="#">lorem ipsum</a></li>
					<li><a href="#">lorem ipsum</a></li>
					<li><a href="#">dolor sit</a></li>
					<li><a href="#">dolor sit</a></li>
					<li><a href="#">dolor sit</a></li>
					<li><a href="#">amet</a></li>
					<li><a href="#">amet</a></li>
					<li><a href="#">amet</a></li>
					<li><a href="#">consectetur</a></li>
					<li><a href="#">consectetur</a></li>
					<li><a href="#">consectetur</a></li>
					<li><a href="#">adepisicing elit</a></li>
					<li><a href="#">adepisicing elit</a></li>
					<li><a href="#">adepisicing elit</a></li>
					<li><a href="#">sed do eiusmod</a></li>
					<li><a href="#">sed do eiusmod</a></li>
					<li><a href="#">sed do eiusmod</a></li>
			</ul>
		</div>

	</main>

	<% include ../includes/mag/footer.html.ejs %>

</div>

<% include ../includes/mag/foot.html.ejs %>

</body>
</html>
