		<div id="adbCurrentSection">Current Section</div>
		<div id="adbCurrentSubSection">Current Sub-section</div>
		<div class="mag-main-heading <%= (pageId === 'category') ? 'cat-heading' : '' %> <%= ( (pageId === 'category' && param('subcat') === '1') || (pageId === 'article' && param('subcat') === '1')) ? 'has-magsubnav' : '' %> <%= ( (pageId === 'article' && param('subcat') === '1') || ((param('subcat') === '1' || param('subcat') === undefined) ) || (pageId === 'search') ) ? 'no-header' : '' %>">
			<% include ../../includes/mag/magnav.html.ejs %>

			<% if (pageId === 'index') {%>
			<header>
				<h1 class="logo" style="background-image: url(<%= config.assetPath %>img/bluelogo.png);">Blue</h1>
				<div class="subhead">Getting the most from your health plan</div>
			</header>
			<% } %>

			<% if (pageId === 'category') {%>
			<header>
				<h1>Category</h1>
			</header>
			<% } %>

			<% if ((pageId === 'category' && param('subcat') === '1') || (pageId === 'article' && param('subcat') === '1')) { %>
				<% include ../../includes/mag/magsubnav.html.ejs %>
			<% } %>

		</div>
