*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-workspace
*.swo
*.swp
*.tgz
*.tmp
.DS_Store
.idea
.project
docs
node_modules
npm-debug.log
public/build
public/local
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
