<!DOCTYPE html>
<html lang="en">
<% include ../includes/head.html.ejs %>
<body>

<div id="page">
	<!-- Main Content -->
	<main id="global-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<div class="page-header">
						<h1>A 500 internal server error.<br />Oops. Sorry about that.
							<small>We must be a little under the weather.</small>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>

<% include ../includes/foot.html.ejs %>

</body>
</html>
