<% extraStyles = ['WellmarkWFFM', 'Custom']; %>
<!DOCTYPE html>
<html lang="en">
<% include ../includes/head.html.ejs %>
<body>

<div id="page">
	<% include ../includes/skipContent.html.ejs %>

	<% include ../includes/browseHappy.html.ejs %>

	<% include ../includes/header.html.ejs %>

	<!-- Main Content -->
	<main id="global-content" class="has-segment-nav <%= segment %>">
		<%
		var backLinkText = 'Contact Us';
		var backLinkUrl = '/about/contact';
		var pageTitle = 'Healthcare Abuse &amp; Fraud';
		%>
		<% include ../includes/segment-nav.html.ejs %>

		<div class="content">
			<div class="container-fluid">
				<% rowType = 'alt'; %>
				<div class="row<%= (rowType)? (' ' + rowType) : '' %>">
					<div class="col-xs-12">
						<div class="content-tile" style="padding-top: 0;">
							<!-- Paste in start -->
							<form action="/about/contact-us/reporting-fraud-and-abuse-form" class="" data-wffm="{11E3B6EA-440D-439D-98A7-F8B9422C974E}" enctype="multipart/form-data" id="wffmc82fd893ed3e45e196c23c6a168dbf2a" method="post">
								<input name="__RequestVerificationToken" type="hidden" value="_sov0VQYM6WDMJO4zzDpQrIi_qTJexu37_uAfIzHPQOVOBn8ogmDvJu2ZPiSwO8Q_eJT8SLTiYwZ3kTdFVtcm8Z4sska-NSifMP3t1-Wakw1" />
								<input id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Id" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Id" type="hidden" value="c82fd893-ed3e-45e1-96c2-3c6a168dbf2a" />
								<input id="wffmc82fd893ed3e45e196c23c6a168dbf2a_FormItemId" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.FormItemId" type="hidden" value="{11E3B6EA-440D-439D-98A7-F8B9422C974E}" />
								<div class="page-header">
									<h1>Reporting Fraud and Abuse Form</h1>
								</div>
								<p>If you prefer to report anonymously, please call the 800 number on the back of your member ID card.</p>
								<p><span class="legend-required">*</span>Required Field</p>
								<div class="has-error has-feedback validation-summary" tabindex="-1">
									<div class="validation-summary-valid" data-valmsg-summary="true">
										<span class="icon-warning pull-left" aria-hidden="true"></span>
										<div class="h4">Please correct the following error(s):</div>
										<ul class="list-group">
											<li style="display:none"></li>
										</ul>
									</div>
								</div>
								<fieldset>
									<legend>Your Information</legend>
									<div class="row">
										<div class="col-md-12">
											<div class="required-field  form-group halfAvailableWidth">
												<input id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_0__Fields_0__Id" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[0].Fields[0].Id" type="hidden" value="{FE5A3AA8-D4A7-4D84-A7B5-AACCDF126FAB}" />
												<label class="control-label" for="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_0__Fields_0__Value">First Name</label>
												<input class=" form-control text-box single-line" data-val="true" data-val-length="The First Name field must be a string with a minimum length of 0 and a maximum length of 256." data-val-length-max="256" data-val-multiregex="The value of the First Name field is not valid." data-val-multiregex-pattern="^[a-zA-Z]*$" data-val-multiregex-tracking="{F3D7B20C-675C-4707-84CC-5E5B4481B0EE}" data-val-required="First Name cannot be empty." data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_0__Fields_0__Value" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[0].Fields[0].Value" placeholder="" style="" type="text" value="" />
												<span class="field-validation-valid help-block" data-valmsg-for="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[0].Fields[0].Value" data-valmsg-replace="true" tabindex="-1" aria-hidden="true"></span>
											</div>
											<div class="required-field  form-group halfAvailableWidth">
												<input id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_0__Fields_1__Id" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[0].Fields[1].Id" type="hidden" value="{7B5D8024-2B8C-4DD3-8ECC-25FDB3728230}" />
												<label class="control-label" for="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_0__Fields_1__Value">Last Name</label>
												<input class=" form-control text-box single-line" data-val="true" data-val-length="Last Name field must be a string with a minimum length of 0 and a maximum length of 256." data-val-length-max="256" data-val-required="Last Name cannot be empty." data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_0__Fields_1__Value" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[0].Fields[1].Value" placeholder="" style="" type="text" value="" />
												<span class="field-validation-valid help-block" data-valmsg-for="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[0].Fields[1].Value" data-valmsg-replace="true" tabindex="-1" aria-hidden="true"></span>
											</div>
											<div class="required-field  form-group">
												<input id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_0__Fields_2__Id" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[0].Fields[2].Id" type="hidden" value="{5B89AE73-D83A-40CB-8B29-D28618993C75}" />
												<label class="control-label" for="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_0__Fields_2__Value">
													<span class="lbl_line">Phone Number</span>
													<span class="lbl_line unbold">(xxx) xxx-xxxx</span>
												</label>
												<input class=" form-control text-box single-line" data-val="true" data-val-length="Phone Number (xxx) xxx-xxxx field must be a string with a minimum length of 0 and a maximum length of 256." data-val-length-max="256" data-val-regex="The value of the Phone Number (xxx) xxx-xxxx field is not valid." data-val-regex-pattern="^\+?\s{0,}\d{0,}\s{0,}(\(\s{0,}\d{1,}\s{0,}\)\s{0,}|\d{0,}\s{0,}-?\s{0,})\d{2,}\s{0,}-?\s{0,}\d{2,}\s{0,}(-?\s{0,}\d{2,}|\s{0,})\s{0,}$" data-val-regex-tracking="{844BBD40-91F6-42CE-8823-5EA4D089ECA2}" data-val-required="Phone Number (xxx) xxx-xxxx cannot be empty." data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_0__Fields_2__Value" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[0].Fields[2].Value" placeholder="" style="" type="tel" value="" />
												<span class="field-validation-valid help-block" data-valmsg-for="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[0].Fields[2].Value" data-valmsg-replace="true" tabindex="-1" aria-hidden="true"></span>
											</div>
											<div class="required-field  form-group">
												<input id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_0__Fields_3__Id" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[0].Fields[3].Id" type="hidden" value="{6BAA0050-3DD5-40FF-8361-527FCAAB9C07}" />
												<label class="control-label" for="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_0__Fields_3__Value">Email</label>
												<input class=" form-control text-box single-line" data-val="true" data-val-length="Email field must be a string with a minimum length of 0 and a maximum length of 256." data-val-length-max="256" data-val-multiregex="The value of the Email field is not valid." data-val-multiregex-pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" data-val-multiregex-tracking="{F3D7B20C-675C-4707-84CC-5E5B4481B0EE}" data-val-regex="Email field contains an invalid email address." data-val-regex-pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,17}$" data-val-required="Email cannot be empty." data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_0__Fields_3__Value" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[0].Fields[3].Value" placeholder="" style="" type="email" value="" />
												<span class="field-validation-valid help-block" data-valmsg-for="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[0].Fields[3].Value" data-valmsg-replace="true" tabindex="-1" aria-hidden="true"></span>
											</div>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<legend>Fraud and/or Abuse Information</legend>
									<div class="row">
										<div class="col-md-12">
											<div class="required-field form-group">
												<input id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_1__Fields_0__Id" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[1].Fields[0].Id" type="hidden" value="{9ACDBA8F-97FA-4704-80B1-80F7E36888B6}" />
												<label class="control-label" for="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_1__Fields_0__Value">Which best describes the fraud or abuse you suspect?</label>
												<select class="form-control" data-val="true" data-val-required="Which best describes the fraud or abuse you suspect? must be selected." data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_1__Fields_0__Value" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[1].Fields[0].Value" data-jcf>
													<option selected="selected" value="">Select</option>
													<option value="Your Explanation of Benefits (EOB) form shows payment for services that weren&#39;t performed.">Your Explanation of Benefits (EOB) form shows payment for services that weren&#39;t performed.</option>
													<option value="The names and dates on the EOB do not match your records.">The names and dates on the EOB do not match your records.</option>
													<option value="You suspect someone of using an expired Wellmark ID card.">You suspect someone of using an expired Wellmark ID card.</option>
													<option value="You suspect someone of loaning a Wellmark ID card to a person not entitled to it.">You suspect someone of loaning a Wellmark ID card to a person not entitled to it.</option>
													<option value="You suspect someone of adding a person not eligible for coverage on his or her Wellmark Blue Cross and Blue Shield contract.">You suspect someone of adding a person not eligible for coverage on his or her Wellmark Blue Cross and Blue Shield contract.</option>
													<option value="Other">Other</option>
												</select>
												<span class="field-validation-valid help-block" data-valmsg-for="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[1].Fields[0].Value" data-valmsg-replace="true" tabindex="-1" aria-hidden="true"></span>
											</div>
											<div class="required-field  form-group">
												<input id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_1__Fields_1__Id" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[1].Fields[1].Id" type="hidden" value="{8E6FFA0D-7035-4415-8818-3F7570461738}" />
												<label class="control-label" for="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_1__Fields_1__Value">Please provide additional details.</label>
												<textarea class="form-control" cols="1" data-val="true" data-val-length="Please provide additional details for the type of fraud or abuse you are reporting. field must be a string with a minimum length of 0 and a maximum length of 1500." data-val-length-max="1500" data-val-required="Please provide additional details for the type of fraud or abuse you are reporting. cannot be empty." data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_1__Fields_1__Value" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[1].Fields[1].Value" rows="4">
												</textarea>
												<span class="field-validation-valid help-block" data-valmsg-for="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[1].Fields[1].Value" data-valmsg-replace="true" tabindex="-1" aria-hidden="true"></span>
											</div>
											<div class="required-field  form-group">
												<input id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_1__Fields_2__Id" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[1].Fields[2].Id" type="hidden" value="{9919320F-E9BF-4638-AF83-118EE6A8D71F}" />
												<label class="control-label" for="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_1__Fields_2__Value">Do you have a pertinent document related to this report (CCS notes, claims, records, screen prints, etc.)?</label>
												<div class="radio">
													<label>
														<input data-val="true" data-val-required="Do you have a pertinent document related to this report (CCS notes, claims, records, screen prints, etc.)? must have a selection." data-val-required-tracking="{7E86B2F5-ACEC-4C60-8922-4EB5AE5D9874}" id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_1__Fields_2__Value" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[1].Fields[2].Value" type="radio" value="Yes, after I submit this report, I will follow the instructions in the confirmation email I receive and forward my document to fraudandabuse@wellmark.com." />
														<strong>Yes,</strong> after I submit this report, I will follow the instructions in the confirmation email I receive and forward my document to <a href="mailto:fraudandabuse@wellmark.com">fraudandabuse@wellmark.com</a>.
													</label>
												</div>
												<div class="radio">
													<label>
														<input id="abcabc_Sections_1__Fields_2__Value" name="abcabc.Sections[1].Fields[2].Value" type="radio" value="No, I have nothing further to send." />
														<strong>No,</strong> I have nothing further to send.
													</label>
												</div>
												<span class="field-validation-valid help-block" data-valmsg-for="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[1].Fields[2].Value" data-valmsg-replace="true" tabindex="-1" aria-hidden="true"></span>
											</div>
										</div>
									</div>
								</fieldset>
								<fieldset>
									<legend>
										Member and Patient Information
										<span class="lgd_line">(if known)</span>
									</legend>
									<div class="row">
										<div class="col-md-12">
											<div class=" form-group">
												<input id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_0__Id" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[0].Id" type="hidden" value="{0C4854EB-FF63-4D1C-B317-3E15AE45DCA5}" />
												<label class="control-label" for="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_0__Value">Member Name</label>
												<input class=" form-control text-box single-line" data-val="true" data-val-length="Member Name field must be a string with a minimum length of 0 and a maximum length of 256." data-val-length-max="256" id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_0__Value" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[0].Value" placeholder="" style="" type="text" value="" />
												<span class="field-validation-valid help-block" data-valmsg-for="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[0].Value" data-valmsg-replace="true" tabindex="-1" aria-hidden="true"></span>
											</div>
											<div class=" form-group">
												<input id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_1__Id" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[1].Id" type="hidden" value="{321E22F5-36AD-42FA-A236-474BB7FD0668}" />
												<label class="control-label" for="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_1__Value">Member ID Number</label>
												<input class=" form-control text-box single-line" data-val="true" data-val-length="Member ID Number field must be a string with a minimum length of 0 and a maximum length of 256." data-val-length-max="256" id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_1__Value" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[1].Value" placeholder="" style="" type="text" value="" />
												<span class="field-validation-valid help-block" data-valmsg-for="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[1].Value" data-valmsg-replace="true" tabindex="-1" aria-hidden="true"></span>
											</div>
											<div class=" form-group">
												<input id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_2__Id" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[2].Id" type="hidden" value="{9A527DD8-96D9-434C-BD8F-13331AD6E304}" />
												<label class="control-label" for="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_2__Value">Group Name</label>
												<input class=" form-control text-box single-line" data-val="true" data-val-length="Group Name field must be a string with a minimum length of 0 and a maximum length of 256." data-val-length-max="256" id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_2__Value" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[2].Value" placeholder="" style="" type="text" value="" />
												<span class="field-validation-valid help-block" data-valmsg-for="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[2].Value" data-valmsg-replace="true" tabindex="-1" aria-hidden="true"></span>
											</div>
											<div class=" form-group">
												<input id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_3__Id" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[3].Id" type="hidden" value="{90A4B1D4-C311-41E7-9887-6FE39476118D}" />
												<label class="control-label" for="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_3__Value">Group Number</label>
												<input class=" form-control text-box single-line" data-val="true" data-val-length="Group Number field must be a string with a minimum length of 0 and a maximum length of 256." data-val-length-max="256" id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_3__Value" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[3].Value" placeholder="" style="" type="text" value="" />
												<span class="field-validation-valid help-block" data-valmsg-for="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[3].Value" data-valmsg-replace="true" tabindex="-1" aria-hidden="true"></span>
											</div>
											<div class=" form-group">
												<input id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_4__Id" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[4].Id" type="hidden" value="{6DF0FB87-EC23-47C2-85DF-0B081E363570}" />
												<label class="control-label" for="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_4__Value">Provider Name</label>
												<input class=" form-control text-box single-line" data-val="true" data-val-length="Provider Name field must be a string with a minimum length of 0 and a maximum length of 256." data-val-length-max="256" id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_4__Value" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[4].Value" placeholder="" style="" type="text" value="" />
												<span class="field-validation-valid help-block" data-valmsg-for="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[4].Value" data-valmsg-replace="true" tabindex="-1" aria-hidden="true"></span>
											</div>
											<div class=" form-group">
												<input id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_5__Id" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[5].Id" type="hidden" value="{92271717-85A7-4D8F-B20B-48A08191D98C}" />
												<label class="control-label" for="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_5__Value">Provider Number</label>
												<input class=" form-control text-box single-line" data-val="true" data-val-length="Provider Number field must be a string with a minimum length of 0 and a maximum length of 256." data-val-length-max="256" id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_5__Value" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[5].Value" placeholder="" style="" type="text" value="" />
												<span class="field-validation-valid help-block" data-valmsg-for="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[5].Value" data-valmsg-replace="true" tabindex="-1" aria-hidden="true"></span>
											</div>
											<div class=" form-group">
												<input id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_6__Id" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[6].Id" type="hidden" value="{B2D87EAB-DC2A-4097-B071-864DF1558DFF}" />
												<label class="control-label" for="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_6__Value">Patient Name</label>
												<input class=" form-control text-box single-line" data-val="true" data-val-length="Patient Name field must be a string with a minimum length of 0 and a maximum length of 256." data-val-length-max="256" id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_6__Value" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[6].Value" placeholder="" style="" type="text" value="" />
												<span class="field-validation-valid help-block" data-valmsg-for="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[6].Value" data-valmsg-replace="true" tabindex="-1" aria-hidden="true"></span>
											</div>
											<div class="scfDatePickerBorder form-group">
												<input id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_7__Id" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[7].Id" type="hidden" value="{F4937415-12C0-460D-90B9-99240E2F6CE2}" />
												<label class="control-label" for="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_7__Value">Date of Service</label>
												<script type="text/javascript">
													if (typeof window.WffmFieldsData === "undefined") window.WffmFieldsData = {};
													window.WffmFieldsData.wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_7__Value = {
														dateFormat: "M-dd-yy",
														minDate: new Date("2000", "0", "1"),
														maxDate: new Date("2018", "4", "2")
													}
												</script>
												<input class="form-control datepicker text-box single-line" data-val="true" data-val-regex="The value of the Date of Service field is not valid." data-val-regex-pattern="^[a-zA-Z]{3}-\d{2}-\d{4}$" data-val-regex-tracking="{844BBD40-91F6-42CE-8823-5EA4D089ECA2}" id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_7__Value" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[7].Value" type="text" value="" />
												<span class="field-validation-valid help-block" data-valmsg-for="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[7].Value" data-valmsg-replace="true" tabindex="-1" aria-hidden="true"></span>
											</div>
											<div class=" form-group">
												<input id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_8__Id" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[8].Id" type="hidden" value="{76C7E471-30F1-475A-9302-B6B84386603B}" />
												<label class="control-label" for="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_8__Value">Claim Number(s)</label>
												<input class=" form-control text-box single-line" data-val="true" data-val-length="Claim Number(s) field must be a string with a minimum length of 0 and a maximum length of 256." data-val-length-max="256" id="wffmc82fd893ed3e45e196c23c6a168dbf2a_Sections_2__Fields_8__Value" name="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[8].Value" placeholder="" style="" type="text" value="" />
												<span class="field-validation-valid help-block" data-valmsg-for="wffmc82fd893ed3e45e196c23c6a168dbf2a.Sections[2].Fields[8].Value" data-valmsg-replace="true" tabindex="-1" aria-hidden="true"></span>
											</div>
										</div>
									</div>
								</fieldset>
								<div class="form-submit-border">
									<input class="btn btn-primary btn-lg" type="submit" value="Submit"/>
								</div>
							</form>
							<!-- Paste in end -->
						</div>
					</div>
				</div>

			</div>
		</div>
	</main>

	<% include ../includes/footer.html.ejs %>
</div>

<% include ../includes/foot.html.ejs %>

</body>
</html>
