<!DOCTYPE html>
<html lang="en">
<% include ../includes/head.html.ejs %>
<body>

<div id="page">
	<% include ../includes/skipContent.html.ejs %>

	<% include ../includes/browseHappy.html.ejs %>

	<% include ../includes/header.html.ejs %>

	<!-- Main Content -->
	<main id="global-content" class="has-segment-nav <%= segment %>">

		<%
		var backLinkText = 'About Wellmark';
		var backLinkUrl = config.rootPath + 'about';
		var pageTitle = 'Company Information';
		%>
		<% include ../includes/segment-nav.html.ejs %>

		<div class="content">
			<div class="container-fluid">

				<% rowType = 'alt'; %>
				<div class="row<%= (rowType)? (' ' + rowType) : '' %>">
					<div class="col-xs-12">
						<div class="page-header">
							<h1>
								<%- pageTitle %>
							</h1>
							<p>
								A little about us and our fearless leaders.
							</p>
						</div>
					</div>
				</div>

				<% rowType = 'alt'; %>
				<div class="row<%= (rowType)? (' ' + rowType) : '' %>">
					<div class="col-xs-12">
						<div class="content-tile">
							<%
							var contentPreviewTitle;
							var contentPreviewHeaderColor;
							var contentPreviewLink;
							var contentPreviewIsExternal;
							[
								{
									title: 'Who We Are',
									headerColor: 'brand',
									link: '/about/company-information/who'
								},
								{
									title: 'The Wellmark Basics',
									headerColor: 'orange',
									link: '/about/company-information/basics'
								},
								{
									title: 'Directors &amp; Officers',
									headerColor: 'darkblue',
									link: '/about/company-information/directors-officers',
									isExternal: false
								}
							].forEach(function (item) {
								contentPreviewTitle = item.title;
								contentPreviewHeaderColor = item.headerColor;
								contentPreviewLink = item.link;
								contentPreviewIsExternal = !!item.isExternal;
							%>
								<% include ../includes/content-preview-tile.html.ejs %>
							<%
							});
							%>
						</div>
					</div>
				</div>

			</div>
		</div>
	</main>

	<% include ../includes/footer.html.ejs %>
</div>

<% include ../includes/foot.html.ejs %>

</body>
</html>
