<div class="address">
	<div class="name">Address Name</div>
	<div class="street">555 Some Street</div>
	<div class="city-state">Some City, CA 00000-0000</div>
	<div class="phone"><a href="tel:1-800-555-5555">800-555-5555</a></div>
</div>
