<div class="back-to-top row<%= (rowType)? (' ' + rowType) : '' %>">
	<div class="col-xs-12">
		<a href="#top">
			<span class="sr-only">Back to Top</span><span
				class="icon-wmkBackToTop"></span></a>
	</div>
</div>
