<div class="content-article-group-tile">
	<h3>Article Group Title</h3>

	<ul class="list-unstyled">
		<li>
			<div class="title"><a href="/about/newsroom/article">News article title</a></div>
			<div class="date">January 28, 2016</div>
		</li>
		<li>
			<div class="title"><a href="/about/newsroom/article">News article title</a></div>
			<div class="date">January 28, 2016</div>
		</li>
	</ul>
</div>
