<div class="content-tile-accreditation">
	<a href="#">
		<div class="image">
			<img src="http://fpoimg.com/153x153?bg_color=4e4e4e&text_color=ffffff&text=FPO" alt="" /></div>
		<div class="name">URAC</div>
		<div>Accredited</div>
		<div>Health Utilization Management</div>
		<div>Expires 3/1/2016</div>
	</a>
</div>
