<div class="content-quote-tile<%= (isQuotePrimary)? ' primary' : '' %>">
	<blockquote class="quote">
		<p>&quot;Some quote text. Some quote text. Some quote text. Some quote text. Some quote text. Some quote text. Some quote text. Some quote text. Some quote text. Some quote text. Some quote text. Some quote text. Some quote text.</p>
		<p><strong>Some quote text. Some quote text. Some quote text. Some quote text. Some quote text. Some quote text. Some quote text&quot;</strong></p>
	</blockquote>
	<div class="quotee">
		<div class="image">
			<img src="http://fpoimg.com/92x92?bg_color=e3d7bf&text_color=4c4f54" alt="FPO" class="img-circle" />
		</div>
		<div class="name">
			Person Name
			<small>Person Title</small>
		</div>
	</div>
</div>
