<div class="content-image-padded-tile">
	<img src="http://fpoimg.com/364x224?bg_color=<%= (rowType === 'primary')? 'ffffff' : '0079bc' %>&text_color=<%= (rowType === 'primary')? '0079bc' : 'ffffff' %>&text=FPO" alt="" />
</div>
