<div class="content-media-kits-tile">
	<h3>Media Kits</h3>

	<p>Learn more about ACA plan trends and 2016 rates.</p>

	<p>In both Iowa and South Dakota, we see the same overall trends for Under 65 ACA plans.</p>

	<ol>
		<li>Large claims are much higher than expected.</li>
		<li>The cost and volume of prescriptions has increased significantly.</li>
		<li>Cancellations and changes in coverage have created a significant gap in forecasted premiums.</li>
	</ol>

	<ul class="list-unstyled">
		<li>
			<h4>Iowa</h4>
			<div>
				<a href="#" download>
					<span class="text">Download the white paper</span>
					<span class="icon-file-pdf" aria-hidden="true"></span></a>
			</div>
			<div>
				Want more?
				<a href="#" download>
					<span class="text">Understanding Proposed 2016 Rates</span>
					<span class="icon-file-pdf" aria-hidden="true"></span></a>
			</div>
		</li>
		<li>
			<h4>South Dakota</h4>
			<div>
				<a href="#" download>
					<span class="text">Download the Infographics</span>
					<span class="icon-file-pdf" aria-hidden="true"></span></a>
			</div>
		</li>
	</ul>
</div>
