<!-- Footer -->
<footer id="global-footer">
	<div class="container-fluid">

		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<h4 id="aria-menuid-1">RE: Educate</h4>
				<nav aria-labelledby="aria-menuid-1">
					<ul class="list-unstyled">
						<li>
							<a href="#"><span>Veteran Home Buyers Guide</span></a>
						</li>
						<li>
							<a href="#"><span>First Time Home Buyers Guide</span></a>
						</li>
						<li>
							<a href="#"><span>RE:find Blog</span></a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col-xs-6 col-sm-3">
				<h4 id="aria-menuid-2">Company</h4>
				<nav aria-labelledby="aria-menuid-2">
					<ul class="list-unstyled">
						<li>
							<a href="/about/newsroom"><span>Newsroom</span></a>
						</li>
						<li class="dropdown focus-in-close">
							<a id="related-sites-opener" href="#" role="button" data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span>Related Sites</span>
								<span class="icon-reaCaretDown"></span>
							</a>
							<ul class="dropdown-menu" aria-labelledby="related-sites-opener">
								<li>
									<a href="#"><span>Related Site 1</span></a>
								</li>
								<li>
									<a href="#"><span>Related Site 2</span></a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/about"><span>About Us</span></a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="clearfix visible-xs-block"></div>
			<div class="col-xs-12 col-sm-5">
				<h4 id="aria-menuid-3">Alternate Languages</h4>
				<nav aria-labelledby="aria-menuid-3">
					<ul class="list-inline">
						<li>
							<a href="#"><span lang="es" dir="ltr">Español</span></a>
						</li>
						<li>
							<a href="#"><span lang="" dir="ltr">中文</span></a>
						</li>
						<li>
							<a href="#"><span lang="" dir="ltr">Français</span></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-8">
				<p class="copyright">
					&copy; 2018 RealEstate.com.
				</p>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-4">
				<nav class="social-links" aria-label="Social Networks">
					<ul class="nav nav-pills">
						<li>
							<a href="https://www.facebook.com/realestatecom">
								<span class="sr-only">Facebook</span><span
								class="icon-facebook"></span></a>
						</li>
						<li>
							<a href="https://twitter.com/realestatecom">
								<span class="sr-only">Twitter</span><span
									class="icon-twitter"></span></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

	</div>
</footer>
