<div class="register">
	<p>
		New user register here.
	</p>

	<a href="#" role="button" class="btn btn-register btn-xl">Register</a>

	<img src="<%= config.assetPath %>img/re-logo-mark.png" alt="" />
</div>
