<div role="region" aria-label="Social Links" class="social-links">
    <a href="" class="social-link" target="_blank">
			<span class="social-link-content">
        <span class="sr-only">Facebook share</span>
        <span class="icon-facebook2"></span>
			</span>
    </a>
    <a href="" class="social-link" target="_blank">
			<span class="social-link-content">
        <span class="sr-only">Twitter share</span>
        <span class="icon-twitter"></span>
			</span>
    </a>
    <a href="" class="social-link" target="_blank">
			<span class="social-link-content">
        <span class="sr-only">LinkedIn share</span>
        <span class="icon-linkedin"></span>
			</span>
    </a>
</div>
