<div id="video-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="video-modal-label" aria-describedby="video-modal-description" aria-live="polite" aria-relevant="all" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="sr-only" id="video-modal-description">Beginning of dialog</div>
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title" id="video-modal-label">Video</h3>
			</div>
			<div class="modal-body">
				<button type="button" class="btn close" data-dismiss="modal">
					<span class="sr-only">Close</span><span
						class="icon-wmkCircleClose" aria-hidden="true"></span></button>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe title="" class="video" allowfullscreen></iframe></div>
	</div>
	<span class="sr-only">End of dialog</span>
		</div>
	</div>
</div>
